.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
button.mr-12.mat-raised-button.mat-button-base.mat-accent {
  margin: 0px 0px 0px 30px;
}
.form-employee {
  margin: 70px 0px 0px 35px;
}
